<h1>Books</h1>


<% @books.each do |book| %>
  <h3><%= link_to book.title, book %></h3>
  <table id="attributes">
   <tr>
     <th>Book Reviewer: </th>
     <td> <%= book.user.email %></td>
   </tr>
   <tr>
     <th>Created:</th>
     <td><%= time_ago_in_words(book.created_at) %> ago</td>
   </tr>
</table>
<% end %>
