<h1><%= @book.title %> </h1>
<p><%= @book.description %></p>
<% if @book.user_id == current_user.id %>
  <%= link_to 'Edit Book', edit_book_path(@book) %>
  <%= link_to 'Delete Book', book_path(@book), method: :delete, data: { confirm: "Are you sure you want to delete this book?" } %>
<% end %>
